.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    & div{
        background-color: #000;
        border-radius: 20px;
        color: var(--txt-color);
        margin: auto;
        padding: 20px;
        width: 80%;
        max-width: 500px;

        label{
            display: block;
            padding: 20px 0 10px 0;
        }
        input{
            display: block;
            background-color: #2d2b2f;
            outline: none;
            border: none;
            padding: 10px;
            border-radius: 10px;
            width: 100%;

            font-size: 1rem;
            color: var(--txt-color-secondary);
        }

        .CTAButton{
            margin: 30px 0;
            padding: 10px;
            background-color: var(--accent-color);
            border: none;
            outline: none;
            width: 100%;
            font-size: 1rem;
            border-radius: 10px;
        }
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #a0a0a0;
        text-decoration: none;
        cursor: pointer;
    }
}

.error{
    color: red;
}

.link{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--accent-color);
    text-decoration: underline;
}

.button{
    margin: 20px 0;
    padding: 10px;
    background-color: var(--accent-color);
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    border-radius: 10px;
}